.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  background: #665453;
  border: 2px solid #4b3a39;
  border-radius: 3.125rem;
  height: 17rem;
}

.work-timer {
  position: relative;
  font-style: normal;
  top: 5%;
  font-size: 2.5rem;
  text-align: center;

  color: #ff98c3;
}

.work-timer-countdown {
  position: relative;
  bottom: 10%;
  font-family: "Henny Penny";
  font-size: 8rem;
  text-align: center;
  margin: 0px;

  color: #ff98c3;
}

.rest-timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  bottom: 55%;
  font-family: "Glory";
  font-style: normal;
  font-size: 2rem;

  color: #ece2d0;
}

.rest-timer-countdown {
  margin-left: 20px;
  font-family: "Henny Penny";
}

.set-btn-container {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 90%;
  right: 35%;
}

.start-session-btn {
  display: flex;
  align-items: center;
  position: relative;
  left: 35%;
  bottom: 145%;
}
